<div class="container-fluid">
    <div class="banner">
        <img src="~/Client/banner.jpg" alt="">
    </div>
</div>
<div class="container content text-left   ">
    <h2 class="mt-3 text-center">Sự kiện</h2>
    <div class="container p-2">
        <div class="event">
            <div class="event_tab">
                <button class="continue c1 btn btn-primary text-left">Sự kiện tiếp theo</button>
                <button class="continue c2 btn btn-light text-left">Sự kiện đã qua</button>
            </div>
            <div class="event_left">
                <div id="tieptheo" class=" d-flex flex-row">
                    @foreach (var events in ViewBag.ListEvent)
                    {
                        <div class="event_content ml-3">
                            <div class="event_content-detail">
                                <div class="event_title">
                                    <a asp-action="Details" asp-route-id="@events.id">@events.sukien</a>
                                </div>
                                <div class="event_gr mt-2">Tổ chức bởi: @events.congty</div>
                                <div class="event_time"> @events.ngaybatdau đến @events.ngayketthuc</div>
                                <div class="event_location">
                                    @events.diadiem
                                </div>
                                <div class="event_type">
                                    @events.chuyenmuc
                                </div>
                            </div>
                           
                        </div>
                    }
                </div>
                <div id="daqua" class=" d-flex flex-row">
                    @foreach (var events in ViewBag.ListEvent2)
                    {
                        <div class="event_content ml-3">
                            <div class="event_content-detail">
                                <div class="event_title">
                                    <a asp-action="Details" asp-route-id="@events.id">@events.sukien</a>
                                </div>
                                <div class="event_gr mt-2">Tổ chức bởi: @events.congty</div>
                                <div class="event_time"> @events.ngaybatdau đến @events.ngayketthuc</div>
                                <div class="event_location">
                                    @events.diadiem
                                </div>
                                <div class="event_type">
                                    @events.chuyenmuc
                                </div>
                            </div>   
                        </div>
                    }
                    </div>
                   </div>
            </div>

    </div>
</div>
@*<div class="event_content ml-3">
    @foreach (var events in ViewBag.ListEvent)
    {
        <div class="event_content-detail">
            <div class="event_title">
                <a href="">@events.sukien</a>
            </div>
            <div class="event_gr mt-2">Tổ chức bởi: @events.congty</div>
            <div class="event_time"> @events.ngaybatdau đến @events.ngayketthuc</div>
            <div class="event_location">
                @events.diadiem
            </div>
            <div class="event_type">
                @events.chuyenmuc
            </div>
        </div>
    }
    </div>*@

<script>
    $(document).ready(function () {
        $("#daqua").addClass("hid");
       
    });
    $(".c2").click(function(){
         $("#tieptheo").addClass("hid");
         $(".c1").removeClass("btn-primary");
         $("#daqua").removeClass("hid");
        $(".c2").addClass("btn-primary");
        $(".c2").removeClass("btn-light");
            });
    $(".c1").click(function(){
         $("#tieptheo").removeClass("hid");
         $("#daqua").addClass("hid");
         $(".c1").addClass("btn-primary");
        $(".c2").removeClass("btn-primary");
        $(".c2").addClass("btn-light");
            });
</script>